<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<style>

body {
    font-family: Arial, sans-serif;
    background-color: #b5cdf5;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    color: black;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #c3c4c3;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: black;
    transition: 1s;
    color: white;
}



</style>
<body>
    <h1>Edit Task</h1>
    <form action="/updateTask" method="post">
        <input type="text" value="<%= task.id %>" name="id" hidden/>
        <input type="text" value="<%= task.task %>" placeholder="Task" name="task" required/>
        <input type="time" value="<%= task.time %>" placeholder="Time" name="time" required/>
        <button type="submit">Update Task</button>
    </form>
</body>
</html>
